//- arquivo com configurações padrões do template

//- o hifen antes da variável significa que a linha deve ser interpretada como código.
- var PageTitle = "Revisando Jade"
- var MetaDesc  = "Meta descrição padrão via config.jade"

//- exemplo do recurso em necessidade real. variável utilizada para chamar font do google fonts. note que o valor da variável remete ao nome da fonte, conforme a doc do google fonts.
- var GoogleFonts = "Open+Sans"

//- exemplo de variável com valor booleano.
- var jQuery = false
