extends template_base_include

//-  block title
//-      | About
    
block content
    h1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    article
        p
            | Another common requirement is to test the “approximate” equality of two objects. We don’t actually want to test that the objects reference are equal, but to test that the objects are “equivalent”
    div.primary
        | Another common requirement is to test the “approximate” equality of two objects. We don’t actually want to test that the objects reference are equal, but to test that the objects are “equivalent”
        