doctype
html(lang="pt-br")
    head    
        title Testando Jade - estrutura básica template
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale-1.0")
        meta(name="description", content="descrição da página")
        link(href="#", rel="stylesheet", type="text/css")
    body
