//- testando filtro de linguagens no arquivo .jade

extends template_base_include

block append config
    - var PageTitle = "Revisando Jade - HTML inline"
//- até aqui apenas carregamos o template básico que criamos desde o início, alterando o título com base na variável

//- editamos o block content
block append content
    block content
        | O Real Colégio dos Nobres, <b>geralmente designado por Colégio dos Nobres</b>, foi um estabelecimento de educação pré-universitário fundado em Lisboa, <i>por carta de lei de 7 de Março de 1761</i>, voltado especificamente para a formação inicial dos jovens aristocratas portugueses. A instituição foi extinta por decreto de 4 de Janeiro de 1837, tendo em conta que os seus <strong>objectivos não podiam subsistir no enquadramento</strong> criado pela implantação do regime liberal em Portugal, sendo as suas instalações e equipamentos atribuídos à então criada Escola Politécnica de Lisboa <blockquote>(actual Faculdade de Ciências da Universidade de Lisboa)</blockquote>.
        