//- testando a alterações nas configurações via variável - parte 3

extends template_base_include

block append config
    - var PageTitle = "Revisando Jade - alterando configuração template com variáveis - parte 3"
    - var jQuery = true
    