//sintaxe, declarando variáveis
//lembre que não é necessário abrir e fechar a tag
div
p
span
header
nav
section
main
aside
footer

//tags que terminam sem fechamento
br
hr
img
meta
embed

//declarando variaveis concatenadas
//note que a indentação do código na linguagem Jade é essencial para concatenar os elementos
ul
  li
  li
  li
  
table
  tr
    td
//outra maneira de concatenar os elementos
ul: li
//no ultimo elemento declarado não é necessário utilizar dois pontos
table: tr: td