//declarando uma tag com CLASS
div.container

//Class + conteúdo
div.container texto teste CLASS

//declarando uma tag com ID
div#container

//ID + conteúdo
div#container texto teste ID

//se você vai utilizar o elemento DIV com alguma ID ou CLASS, não é necessário informar a tag DIV, conforme o exemplo abaixo
.container
#container

//a declaração mesclando elementos funciona da mesma maneira, segue exemplo.
.pai teste 1
    .filho teste 2
    
#pai teste 1
    #filho teste 2
    
.style1.style2.style3
    .style4

.style1.style2.style3#id_one
    .style4
