//- arquivo de exemplo de inclusão de conteudo com o recurso include

//- importando arquivo de configuração do template
include __config.jade

doctype
html(lang="pt-br")
    head
        title
            block title
                //- importando o valor da variável PageTitle. note a que é necessário utilizar a interpolação
                | #{PageTitle}
        //- meta tag description importando o valor declarado na variável MetaDesc (sem aspas), no arquivo config.jade
        meta(name="description", content=MetaDesc)
        block metatags
        block linktags
            link(href="#", rel="stylesheet", type="text/css")
            //- abaixo criamos uma condição, caso exista uma variável chamada GoogleFont, o link para uma font do google fonts é inserido, e utilizamos o valor da variável, que é o nome da fonte, para autocompletar o link.
            if GoogleFonts
                link(href='https://fonts.googleapis.com/css?family=' + GoogleFonts, rel="stylesheet", type="text/css")
    body
        nav
            .wrapper
                a.global-nav__header-tuts-logo-link(href="http://tutsplus.com")
                    img.global-nav__header-tuts-logo-image(alt="tuts+", src="tuts_logo.svg")
                span.page-footer__tuts-brand-text
                    //- note que apontamos para um arquivo localizado em uma pasta de nome include. não é necessário especificar a extensão do arquivo que deve ser incluso, a não ser que não se trate de um arquivo .jade (exemplo, .md)
                    include include/headertext
                        |  - importanto headertext.jade
        main.wrapper
            //- inserindo conteúdo do arquivo extendido com o recurso block. ver arquivo template_extends_block.jade
            block content
                |  - importando content.jade