//- arquivo de exemplo de inclusão de conteudo com o recurso include

//- importamos o arquivo de configuração em um block config, para viabilizar a configuração dos templates com base em variáveis
block config
    //- importando arquivo de configuração do template dentro do block, o que nos permite editar o mesmo com o recurso append, no arquivo manual_config_with_variables.jade
    include __config.jade

doctype
html(lang="pt-br")
    head
        title
            block title
                //- importando o valor da variável PageTitle. note a que é necessário utilizar a interpolação
                | #{PageTitle}
        //- meta tag description importando o valor declarado na variável MetaDesc (sem aspas), no arquivo config.jade
        meta(name="description", content=MetaDesc)
        block metatags
        block linktags
            link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/journal/bootstrap.min.css", rel="stylesheet", type="text/css")
            link(href="style.css", rel="stylesheet", type="text/css")
            //- abaixo criamos uma condição, caso exista uma variável chamada GoogleFont, o link para uma font do google fonts é inserido, e utilizamos o valor da variável, que é o nome da fonte, para autocompletar o link.
            if GoogleFonts
                link(href="//fonts.googleapis.com/css?family=" + GoogleFonts, rel="stylesheet", type="text/css")
            if jQuery
                script(src="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/journal/bootstrap.min.css", type="javascript/text")
        block scripttags
    //- utilizamos a variável BodyClass para aplicar as classes de estilo ao elemento body. Verificar o arquivo __config.jade para alterar classes.
    body(class=BodyClasses)
        nav
            .wrapper
                h1 #{PageTitle}
                br
                a.logo-link(href="http://tutsplus.com")
                    //- img.global-nav__header-tuts-logo-image(alt="tuts+", src="https://d21buns5ku92am.cloudfront.net/34298/images/128532-7f6ee8e3-b737-43d0-ab8a-a21781176ebf-tuts_logo-medium-1398200175.png")
                span
                    //- note que apontamos para um arquivo localizado em uma pasta de nome include. não é necessário especificar a extensão do arquivo que deve ser incluso, a não ser que não se trate de um arquivo .jade (exemplo, .md)
                    include include/headertext
                        |  - @ headertext.jade
        main.wrapper
            //- inserindo conteúdo do arquivo extendido com o recurso block. ver arquivo template_extends_block.jade. o conteúdo abaixo apenas vai ser compilado com o código presente no arquivo template_extends_block.jade, somente se o block content não for editado na criação de uma nova página.
            block content
                | - @ content.jade